div.texto-derecha {
    text-align: right;
    font-style: italic;
}

div.texto-izquierda {
    text-align: left;
    font-style: italic;
}

div.general{
    margin: 20% 20% 20% 20%;
    max-width: 1000px;
    min-width: 300px
}
h3 {
    font-size: small;
    font-weight: normal;
    margin: 0%;
}